<html>
<body style="font-family:calibri">
	<p>
		Kính gửi: ${name}
	</p>
	<p>
		Tổng Công ty Bảo Hiểm Bảo Việt xin gửi thông báo bảo lãnh thanh toán cho xe ô tô ${plateNumber}
	</p>
	<p>
		Nội dung chi tiết xin vui lòng xem file đính kèm 
	</p>
	<p>
		Mọi vướng mắc vui lòng liên hệ trung tâm dịch vụ khách hàng, điện thoại: 1900 558899
	</p>
	<p>
		Trân trọng thông báo.
	</p>
</body>
</html>